{% extends 'main/base.html' %}

{% block title %}
    О нас
{% endblock %}


{% block content %}
    <h1> Добавить продукт </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.product }}<br>
        {{ form.amount }}<br>
{#        <input type="text" placeholder="Введите название" class="form-control"><br>#}
{#        <input type="text" placeholder="Введите количество" class="form-control"><br>#}
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}