
{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1>Кто же такой Человек?</h1>
    <p>Челове́к — общественное существо, обладающее разумом и сознанием,</p>
    <p> а также субъект общественно-исторической деятельности и культуры.</p>
    <p>По научным данным, возник на Земле в результате эволюционного процесса — антропогенеза, </p>
    <p>детали которого продолжают изучаться. Специфическими особенностями человека,</p>
    <p> отличающими его от других животных, являются прямохождение, высокоразвитый головной мозг,</p>
    <p> мышление и членораздельная речь</p>

    {% if tasks %}
        {% for element in tasks %}
            <div class="alert alert-warning mt-2">
                <p style="font-size: 30px"><b>{{ element.product }}:</b>
                    {{ element.amount }} {{ element.id }}
                    <a style="font-size: 20px"  href="{% url 'update_page'%}">Редактировать</a>
                    <a style="font-size: 20px"  href="{% url 'about' %}">Удалить</a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-2">
            <p> Нет записей </p>
        </div>
    {% endif %}
{% endblock %}
