
{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h3 style="margin-top: 2%">Поиск:</h3>
    <form action="{% url 'search_page' %}" method='get'>
        <input type="text" style="width: 400px; height: 38px; margin-left: auto; margin-right: auto;"
               name="q" class="form-control" placeholder="Поиск..." maxlength="30" ><br>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
<h3 style="margin-top: 5%">Текущие записи:</h3>
    {% if tasks %}
        {% for element in tasks %}
            <div class="alert alert-warning">
                <b>{{ element.product }}: {{ element.amount }}</b>
                <b style="float: right">
                    <a style="background-color: #00bfff; border-color: blue" class="btn btn-primary" href="{% url 'update_page' element.id %}">редактировать</a>
                    <a style="background-color: #ff0000; border-color: red" class="btn btn-primary" href="{% url 'delete_page' element.id %}">Удалить</a>
                </b>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            <p> Нет записей </p>
        </div>
    {% endif %}

{% endblock %}
